body {
    background-color: #CCC;
    color: #7D7D7D;
}

html,
body,
#map {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    margin: 0;
    }

p {
    font-size: 12px;
    margin: 5px 0;
    }

strong {
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

li {
    font-family: Helvetica,
    sans-serif;
    padding: 20px 0 15px 15px;
}

li:hover {
    background-color: #7D7D7D;
     color: white;
}

a {
    text-decoration: none;
    color: #7D7D7D;
}

hr {
    margin: 10px 0 0 0;
    color: gray;
    border-color: gray;
}

.container {
    position: absolute;
    z-index: 3;
}

#input {
    margin: 15px 0 5px 20px;
    width: 83%;
    height: 35px;
    font-size: 17px;
    font-family: helvetica, sans-serif;
    color: #9D9D9D;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}

.options-box {
    width: 280px;
    max-height: 549px;
    background-color: rgba(256,256,254,.9);
    border: solid 2px gray;
    overflow: hidden;
}

#pano {
    width: 200px;
    height: 200px;
}

#places-search {
    width: 80%;
}

.text {
    font-size: 12px;
}

#place-list {
    max-height: 480px;
    overflow: scroll;
    margin: 0 5px;
}

.hamburger-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: grey;
    margin: 6px 0;
    transition: 0.4s;
}





